<nav class="my-navbar">
  <ul>
      <li class="menu">&#9776;</li>
      <div class="dropdown">
      <li><a href="/dashboard">Home</a></li>
      <li><a href="/auroras">Gallery</a></li>
      <li><a href="/forecasts">Forecast</a></li>
      <div class="right">
      <li><a href="/users/<%= user.id %>">Hello, <%= user.username %>!</a></li>
      <li><a href="/logout">Log out</a></li>
    </div>
      </div>
    </ul>
  </nav>
