<h3>FORECAST</h3>
<div class="row">
  <div class="col-md-9">
    <input id="pac-input" class="form-control" type="text" placeholder="Please input location">
    <div id="map"></div>
  </div>
  <div class="col-md-3">
    <h3 class="place-name"></h3>
    <p class="lat"></p>
    <p class="lng"></p>
    <p id="forecast"></p>
    <p id="probability"></p>
    <form method="POST" action="/users/<%= user.id %>/places">
      <input class="place-name" type="hidden" name="name" required>
      <input class="lat" type="hidden" name="lat" required>
      <input class="lng" type="hidden" name="lng" required>
      <button class="btn btn-primary add-places" hidden>Save the data to your profile</button>
    </form>

  </div>
</div>
