<h3>FORECAST</h3>
<div class="row">
  <div class="col-md-9">
    <input id="pac-input" class="controls form-control" type="text" placeholder="Search Box">
    <div id="map"></div>
  </div>
  <div class="col-md-3">
    <h3 class="place-name"></h3>
    <p class="lat"></p>
    <p class="lng"></p>
    <p id="forecast"></p>
    <p id="probability"></p>
    <form method="POST" action="/users/<%= user.id %>/places">
      <input class="place-name" type="hidden" name="name">
      <input class="lat" type="hidden" name="lat">
      <input class="lng" type="hidden" name="lng">
      <button class="btn btn-primary">Save the data to your profile</button>
    </form>

  </div>
</div>
