<div class="col-md-12">
  <h1 class="title">404: Not Found</h1>
  <p>Whatever you were looking for, it's not here.</p>
  <p>Please refer back to the navigation bar.</p>
  <img src="https://media.giphy.com/media/13xaXAYyZKWnIc/giphy.gif">
</div>
