<div class="col-md-12">
  <h1>500: Internal Server Error</h1>
  <h2><%= err.message %></h2>
  <img src="https://media.giphy.com/media/13xaXAYyZKWnIc/giphy.gif">
  <% if(locals.err.stack) { %>
  <pre>
    <%= err.stack %>
  </pre>
  <% } %>
</div>
