<div class="row">
  <div class="col-md-6">
    <h2>Forecast</h2>
    <a href="/forecasts">
    <div id="map" class="card">
    </div>
  </a>
  </div>
  <div class="col-md-6">
    <h2>Featured picture</h2>
          <a href="/auroras">
          <div class="card featured-picture" style="background-image: url(<%= auroras[auroras.length-1].imageSRC %>)">
            </div>
            </a>

  </div>

</div>
