<div class="row">
  <div class="col-lg-6 animated slideInLeft">
    <h2>Forecast</h2>
    <a href="/forecasts">
      <div class="map big">
      </div>
    </a>
  </div>
  <div class="col-lg-6 animated slideInRight">
    <h2>Featured picture</h2>
    <a href="/auroras">
      <div class="card featured-picture" style="background-image: url(<%= auroras[auroras.length-1].imageSRC %>)">
        <h3 class="animated infinite pulse">See more</h3>
      </div>
    </a>
  </div>
</div>
