<video autoplay loop id="video-background" muted plays-inline>
  <source src="https://06-lvl3-pdl.vimeocdn.com/01/4575/0/22879685/48197870.mp4?expires=1497273506&token=03310ef72a3ba8372b188" type="video/mp4">
</video>

<h1>HELLO</h1>

<div class="login-box col-md-3">
<p><a href="/login" class="btn btn-primary">Login</a></p>
<p>Or</p>
<p><a href="/register" class="btn btn-primary">Register</a></p>
</div>
