<h1>Hello there</h1>
<img src="https://i.redd.it/t3w2nqajx1ly.png">

<a href="/login">Login</a>
<p>Or</p>
<a href="/register">Register</a>
<a href="/dashboard">Go to dashboard(this won't be here later!)</a>
