<video loop autoplay id="video-background" muted>
  <source src="https://06-lvl3-pdl.vimeocdn.com/01/4575/0/22879685/48197870.mp4?expires=1497449482&token=082374d1d5dda36fe1514" type="video/mp4">
</video>



<h1>HELLO</h1>

<div class="login-box col-md-3">
<p><a href="/login" class="btn btn-primary">Login</a></p>
<p>Or</p>
<p><a href="/register" class="btn btn-primary">Register</a></p>
</div>
