@import "normalize";

body{
  text-align: center;
  background-color: #fafafa;
  font-family: 'Raleway', sans-serif;
  background: #159957;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);
  background: linear-gradient(to right, #155799, #159957);
  color: #fff;
  a:hover{
    text-decoration: none;
  }
}

#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

h1{
  text-align: center;
  margin-top: 150px;
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 5px;
}
h2{
  margin: 50px;
}
h2, h3, h4{
  text-align: center;
  font-weight: 100;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

header{
  nav{
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    height: 50px;
    margin-bottom: 50px;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      .right{
        float: right;
        margin-right: 20px;
      }
      li{
        float: left;
        margin-left: 20px;
        line-height: 50px;
        margin-top: 10px;
        &.menu{
          color: #fff;
          cursor: pointer;
          font-size: 25px;
          display: none;
        }
        a{
          color: #fff;
        }
        a:hover{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}
main{
  .row{
    margin-bottom: 50px;
  }
  .login-box{
    border: 1px solid rgb(255, 255, 255);
    margin: 50px auto;
    padding: 50px;
    color: #fff;
    p{
      text-align: center;
    }
  }
  .btn{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    margin: 10px auto;
  }
  .btn:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }
  .danger{
    background-color: rgba(217, 83, 83, 0.7);
  }
  .danger:hover{
    background-color: rgba(217, 83, 83, 1);
  }
  form{
    margin: 0 auto;
    label{
      margin-top: 5px;
    }
  }
  .map.autocomplete, .map.big {
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .map{
    width: 200px;
    height: 200px;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.5);
  }
  text-decoration: none;
  .featured-picture{
    height: 300px;
    background-size: cover;
    h3{
      position: relative;
      top: 40%;
      color: #fff;
      visibility: hidden;
    }
  }
  .featured-picture:hover{
    h3{
      visibility: visible;
    }
  }
  .card.image{
    background-size: cover;
    h3{
      position: relative;
      top: 40%;
      color: #fff;
      visibility: hidden;
    }
  }
  .card.image:hover{
    h3{
      visibility: visible;
      transition: 1s;
      left: 0;
    }
  }

  .card{
    border: 1px solid #fff;
  }
  .gallery{
    height: 320px;
    overflow: scroll;
    .picture-box{
      .card{
        margin: 0 auto;
        height: 300px;
        width: 300px;
        margin-top: 20px;
        h4{
          padding: 10px;
          color: #fff;
        }
      }
    }
  }
  .image-big{
    max-width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
  }
  .pic-details{
    margin-top: 15px;
  }
  .comment{
    color: #000;
    border: 1px solid #fff;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    position: relative;
    .comment-content{
      p{
        text-align: justify;
        padding: 45px 10px 30px 0;

      }
      .btn.danger.delete-comment{
        float: right;
        position: absolute;
        bottom: 0px;
        right: 10px;
        border-radius: 50%;
        font-size: 10px;
        padding: 5px 9px;
      }
    }
    .user-details{
      width: 100px;
      .profile-img-small{
        margin: 5px auto;
        width: 70px;
        height: 70px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
      }
    }
  }
  .place{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
  }
  .alert{
    margin: 30px auto;
    width: 50%;
    text-align: center;
  }
  #pac-input{
    width: 300px;
  }
  .profile-img{
    margin: 10px auto;
    width: 250px;
    height: 250px;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #fff;
  }
  .buttons{
    margin-top: 20px;
    .btn{
      display: block;
    }
  }
  .edit-account-btn{
    width: 145px;
  }
  .spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  .spinner{
    margin-top: 40px;
  }
  .spinner.small{
    margin-top: 0px;
  }
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #fff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
}
@media only screen and (max-width: 575px){
  header {
    .nav-margin{
      margin-bottom: 300px;
    }
    nav {
      ul {
        .right{
          float: none;
        }
        li {
          display: block;
          float: none;
          text-align: left;
          &.menu {
            display: block;
          }
        }
        .dropdown {
          display: none;
        }
      }
    }
  }
  h2,h3{
    margin-top: 10px;
  }
}
