<div class="animated slideInDown">
<h2>Gallery</h2>

<a href="/auroras/new" class="btn btn-primary"><i class="fa fa-camera-retro" aria-hidden="true"></i> Add a new one!</a>
<div class="row gallery">
  <% auroras.forEach((aurora) => { %>
      <div class="col-lg-4 col-md-6 picture-box">
      <a href="/auroras/<%= aurora.id %>">
      <div class="card image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),url(<%= aurora.imageSRC %>)">
        <h3 class=""><%= aurora.country %></h3>
        </div>
        </a>
      </div>
    <% }); %>
  </div>
</div>
