<div class="animated slideInUp">
<h2>new one!</h1>
<form class="col-lg-4 col-md-6" method="POST" action="/auroras" enctype="multipart/form-data">
  <div>
    <label for="country">Place where the photo was taken</label>
    <input id="pac-input" class="controls form-control" type="text" placeholder="Please input location" required>
    <input class="place-name" type="hidden" name="country" required>
    <input class="lat" type="hidden" name="lat" required>
    <input class="lng" type="hidden" name="lng" required>
    <div class="map autocomplete"></div>
  </div>
  <div>
    <label for="image">Image</label>
    <input class="form-control" type="file" name="image" id="image" required>
  </div>
  <button class="btn btn-primary">Create</button>
</form>
</h2>
