<h1>new one!</h1>
<form class="col-md-6" method="POST" action="/auroras">
  <div>
    <label for="country">Country</label>
    <input class="form-control" type="text" name="country" id="country">
  </div>
  <div>
    <label for="image">Image URL</label>
    <input class="form-control" type="text" name="image" id="image">
  </div>
  <button class="btn btn-primary">Create</button>
</form>
